<!doctype html>
<title>{% block title %} Message in a Flask {% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1><a href="{{ url_for('home') }}">Message in a Flask</a></h1>
    <ul>
        <li><a href="{{ url_for('home') }}">Home</a>
        <li><a href="{{ url_for('sql') }}">SQL</a>
        <li><a href="{{ url_for('environment') }}">Environment</a>
        <li><a href="{{ url_for('variables') }}">Variables</a></li>
    </ul>
</nav>

<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
        {% block content %}{% endblock %}
</section>